.CartContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 75px;
}

.CartContainer1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    flex-direction: column;
}

.CartContainerLeft{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.CartStatusBar{
    display: none;
}

.CartHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid rgb(170, 170, 170);
    padding-bottom: 15px;
}

.CartContainerRightName{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 20px;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 10px;
    border-radius: 10px;
    color: black;
    margin: 20px 0px 30px 0px;
}

.CartHeaderIcon{
    width: 26px;
    margin-right: 12px;
}

.CartHeader h1{
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1.2px;
}

.CartHeader1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.CartHeaderRemoveAllBtn{
    font-size: 0.95rem;
}

.CartContainerRight{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-top: 15px;
    flex-direction: column;
}

.CartContainerRightDiv{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    border-bottom: 1px solid rgb(178, 178, 178);
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.CartContainerRightDiv:last-child{
    border-bottom: 0px;
}

.CartContainerRightDivImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.CartContainerRightDivImgDiv{
    width: 30%;
    height: 100px;
    object-fit: cover;
    /* background-image: url('../../static//img.webp'); */
    /* background-position: center;
    background-size: cover; */
}

.CartContainerRightDiv1{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 65%;
    flex-direction: column;
    height: 100%;
}

.CartContainerRightDiv1 h1{
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.CartContainerRightDiv1PriceDiv{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
}

.CartContainerRightDiv1PriceDiv1{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
}

.CartContainerRightDiv1PriceDis{
    margin-right: 8px;
    font-weight: 500;
    font-size: 1.1rem;
}

.CartContainerRightDiv1Price{
    text-decoration: line-through;
    font-size: 0.85rem;
    color: gray;
}

.CartContainerRightDiv1QuantityDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(126, 126, 126);
    border-radius: 5px;
    padding: 3px 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.CartContainerRightDiv1QuantityBtn{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CartContainerRightDiv1QuantityBtnIcon{
    width: 100%;
}

.CartContainerRightDiv1QuantityP{
    margin: 0px 10px;
}

.CartContainerRightDiv1QuantityP1{
    margin: 3px 0px -5px 0px;
}

.CartContainerRightMain{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    background-color: rgb(248, 248, 248);
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: -40px;
}

.CartContainerRightMainDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.CartContainerRightMainDiv p{
    font-size: 1.2rem;
    font-weight: 500;
}

.CartContainerRightMainDiv h3{
    font-size: 1rem;
    letter-spacing: 1.3px;
}

.CartContainerRightMainDivBtn{
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    background-color: #111;
    color: white;
    border-radius: 5px;
    font-weight: 500;
}

.CartContainerRightDiv1P{
    display: none;
}

.CartContainerRightDivv1{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    flex-direction: column;
}

.CartContainerRightDivv1AddBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    background-color: rgb(28, 123, 34);
    padding: 5px 0px;
    color: white;
    border-radius: 5px;
    margin: 15px 0px 10px 0px;
}

.CartContainerRightDivv1RemoveBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    background-color: rgba(243, 8, 8, 0.958);
    padding: 5px 0px;
    color: white;
    border-radius: 5px;
}

@media(min-width: 530px){
    .CartContainerRightDivv1{
        flex-direction: row;  
        margin-top: 10px; 
    }
    
    .CartContainerRightDivv1AddBtn{
        margin: 0px 20px 0px 0px;
    }
}

@media(min-width: 650px){
    .CartStatusBar{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border: 1px solid rgb(140, 140, 140);
        border-radius: 5px;
        padding: 14px 8px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .CartContainerRightDiv1QuantityP1{
        margin: 0px;
    }

    .CartStatusBarCircleFinished{
        border: 2px solid rgb(14, 144, 38);
        border-radius: 100px;
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .CartStatusBarCircle{
        border: 2px solid rgb(70, 70, 70);
        border-radius: 100px;
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .CartStatusBarCircleIcon{
        width: 90%;
        color: rgb(14, 144, 38);
    }

    .CartStatusBarDash{
        width: 40px;
        height: 2px;
        background-color: rgb(70, 70, 70);
        margin: 0px 10px;
    }

    .CartStatusBarDashFinished{
        width: 40px;
        height: 2px;
        background-color: rgb(14, 144, 38);
        margin: 0px 10px;
    }

    .CartStatusBarPFinished{
        color: rgb(14, 144, 38);
        font-weight: 500;
        margin-left: 5px;
    }

    .CartStatusBarP{
        color: black;
        margin-left: 5px;
    }
    
    .CartHeader{
        margin-top: 20px;
    }

    .CartHeaderIcon{
        width: 28px;
    }
    
    .CartHeader h1{
        font-size: 1.5rem;
    }

    .CartContainerRightDivImgDiv{
        width: 150px;
    }

    .CartContainerRightDiv1{
        flex-grow: 1;
        padding-left: 25px;
    }

    .CartContainerRightDivInfo{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 5px;
    }

    .CartContainerRightDiv1PriceDiv{
        margin-top: 0px;
        margin-left: 15px;
    }

    .CartContainerRightDiv1PriceDiv1{
        margin-top: 5px;
    }
}

@media(min-width: 770px){
    .CartContainer{
        margin-top: 105px;
    }
}

@media(min-width: 880px){
    .CartContainer{
        margin-top: 125px;
    }
}

@media(min-width: 1024px){
    .CartContainer1{
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 15px;
    }

    .CartContainerRightMain{
        width: 450px;
        margin-top: 110px;
    }

    .CartContainerRight{
        margin-top: 20px;
    }

    .CartContainerLeft{
        padding-right: 50px;
    }

    .CartHeader{
        margin-top: 35px;
    }

    .CartContainerRightDiv1P{
        display: flex;
        margin-top: 5px;
        font-size: 0.95rem;
        width: 80%;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        color: rgb(78, 78, 78);
    }

    .CartContainerRightDiv{
        padding-bottom: 30px;
        margin-bottom: 30px;
    }
}

@media(min-width: 1220px){
    .CartContainer1{
        width: 85%;
    }

    .CartContainerRightMainDiv p{
        font-size: 1.3rem;
    }
}

@media(min-width: 1300px){
    .CartContainerRightDivImgDiv{
        width: 200px;
        height: 150px;
    }
}

@media(min-width: 1400px){
    .CartContainerRightDiv1PriceDis{
        font-size: 1.25rem;
    }

    .CartContainerRightDiv1Price{
        font-size: 1rem;
    }
}

@media(min-width: 1500px){
    .CartContainerLeft{
        padding-right: 80px;
    }
}

@media(min-width: 1880px){
    .CartContainer1{
        width: 1500px;
    }
}