.LoginContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.LoginContainer1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.LoginContainer2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1700px;
}

.LoginDivBanner{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 55%;
    background-image: url('../../static/banner1.jpg');
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    position: absolute;
    top: 0;
}

.LoginDiv{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 700px;
    flex-direction: column;
}

.LoginDivHeader{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
    margin-bottom: 10px;
}

.LoginInpDiv{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 30px;
}

.LoginInpDiv p{
    margin: 0px 0px 10px 0px;
}

.LoginInp{
    width: 100%;
    box-sizing: border-box;
    padding: 15px 20px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid rgb(137, 137, 137);
    outline: none;
}

.LoginBtnDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.LoginBtnDiv button{
    background-color: rgb(51, 122, 181);
    border: none;
    color: white;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 20px 0px;
    border-radius: 5px;
    cursor: pointer;
}

.LoginDivInfo{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    margin-top: 30px;
}

.LoginDivInfo p{
    margin: 0px 5px 0px 0px;
}

.LoginDivInfoLink{
    text-decoration: none;
    color: rgb(51, 122, 181);
}